html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2a3d66, #5d54a4, #9d65c9);
}

.piano{
    display: flex;
    position: relative;
    margin-left: 4px;
}

.wk{
    width: 60px;
    height: 240px;
    background-color: #FFF;
    border: 1px solid grey;
    border-radius: 3px 3px 18px 18px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.wk:active{
    background-color: lavender;
}

.bk{
    position: absolute;
    width: 48px;
    height: 200px;
    /* left: 1px; */
    background-image: linear-gradient(#000000, #303030);
    border: 2px solid #000000;
    border-radius: 0 0 4px 4px;
    outline: none;
    cursor: pointer;
}

.bk:active{
    background-image: linear-gradient(#303030, slategrey);
}

/* .Db4{
    left: 50px;
}

.Eb4{
    left: 150px;
}

.Gb4{
    left: 330px;
}

.Ab4{
    left: 440px;
}

.Bb4{
    left: 540px;
}

.Db5{
    left: 720px;
}

.Eb5{
    left: 820px;
} */

@media only screen and (max-width: 500px)
{
    .wk{
        width: 40px;
        height: 180px;
    }

    .bk{
        width: 28px;
        height: 140px;
    }
}